.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.about {
  flex: 1;
  margin-right: 20px;
}

.contact {
  flex: 1;
}

h1 {
  color: #333;
}

p {
  line-height: 1.5;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  text-align: center;
}
