@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Protest Riot", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.container1 {
  width: auto;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/Home3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
}
.box {
  width: 250px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box:hover {
  transform: translateY(-5px);
}
#box1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/dogAdo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(238, 255, 0);
  font-weight: bolder;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#box2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/catAdo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(238, 255, 0);
  font-weight: bolder;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#box3 {
  background-image: url("../img/otherAdo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(238, 255, 0);
  font-weight: bolder;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#box3 h2 {
  color: rgb(238, 255, 0);
  text-decoration: none;
}
#box3 h2:hover {
  color: rgb(232, 152, 4);
  text-decoration: none;
}
#box2 h2 {
  color: rgb(238, 255, 0);
  text-decoration: none;
}
#box2 h2:hover {
  color: rgb(232, 152, 4);
  text-decoration: none;
}
#box1 h2 {
  color: rgb(238, 255, 0);
  text-decoration: none;
}
#box1 h2:hover {
  color: rgb(232, 152, 4);
  text-decoration: none;
}
.container2 {
  max-width: 98vw;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  background-color: bisque;
}
.container2 h2 {
  font-size: 30px;
  margin: 10px;
}

.column {
  display: flex;
  gap: 200px;
}
.column h2 {
  font-weight: bolder;
  font-size: 35px;
}
.container4 {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  padding: 30px;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 20px;
  margin: 20px;
}
.container4 h2 {
  font-size: 35px;
}

.container3 {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  padding: 30px;
  flex-wrap: wrap;

  border-radius: 20px;
  margin: 20px;
}
.container3 a {
  padding: 8px 16px;
  border: 2px solid black;
  background-color: greenyellow;
}

.donation-home {
  border: 2px solid black;
  padding: 20px;
}
.container6 {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

.container6 h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
}

.container6 img {
  margin: 0 auto;
  max-width: 100%;
  min-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 60px;
}

.container6 p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  margin-right: 20px;
}
.sub-container6 {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 300px;
  margin-top: 40px;
}
